.cursor-wrapper {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}
.cursor-wrapper .inner-cursor-wrapper {
  position: absolute;
  width: 10px;
  height: 10px;
  top: -10px;
  left: -5px;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.cursor-wrapper .inner-cursor-wrapper svg {
  overflow: visible;
}
.cursor-wrapper .inner-cursor-wrapper svg path {
  stroke: #fff;
  fill: #fff;
  transition: fill 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.cursor-wrapper .inner-cursor-wrapper svg #circle,
.cursor-wrapper .inner-cursor-wrapper svg #hand,
.cursor-wrapper .inner-cursor-wrapper svg #hand-2,
.cursor-wrapper .inner-cursor-wrapper svg #hand-3 {
  visibility: hidden;
}
